/*general stylings*/

body {
 font-family: 'Open Sans', sans-serif;
 background-color: #f0efef;
 margin: 0 auto;
 max-width: 1200px;
}


h2 {
  font-size: 40px;
  font-weight: 600;
  color: #033048;
}

p {
  font-size: 24px;
  font-weight: 300;
  color: #606161;
}

/*hover effect on links*/

a:hover {
  border-bottom: 2px dashed;
}

/*right alignment for read more link*/
.readMore {
  text-align: right;
  padding-bottom: 10px;
}

.readMore a {
  font-size: 24px;
  font-weight: 600;
  text-decoration: none;
  color: #033048;
}

/*header stylings*/

header {
  background-color: #033048;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}

header nav {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 1;
  padding-right: 40px;
}

header nav a {
  color: #f9e42e;
  font-weight: 600;
  font-size: 24px;
  text-decoration: none;
}

.logoHeader {
 color: #ffffff;
 font-weight: 800;
 font-size: 36px;
 display: flex;
 flex-direction: row;
 flex-wrap: nowrap;
 margin-left: 150px;
 flex-grow: 1;
}

/*main container stylings*/

main {
  display: flex;
  padding-left: 150px;
  padding-right: 150px;
}

#mainContainer {
  width: 700px;
  padding-right: 20px;
}

article p::first-letter {
  font-size: 70px;
  font-weight: 600;
  float: left;
}

section {
  background-color: #f0efef;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
}

/*sidebar stylings*/

#sidebar {
  width: 240px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 20px;
  color: #033048;
}

#sidebar p {
  color: #033048;
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 0px;
}

#sidebar h3 {
  color: #033048;
  font-size: 32px;
  font-weight: 800;
  margin: 0px;
}

#sidebar a {
  color: #033048;
}

.learnMore {
  font-size: 22px;
  font-weight: 600;
  color: color: #033048;
  text-decoration: none;
}

.advertisment {
  padding-top: 40px;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

ul a {
  text-decoration: none;
  font-size: 24px;
  font-weight: 300;
}

/*sign up div stylings*/

#signUpButton {
  background-color: #f9e42e;
  padding-top: 20px;
  padding-bottom: 20px;
}

#signUpButton button {
  color: white;
  background-color: #033048;
  font-weight: 800;
  font-size: 12px;
  border-radius: 5px;
  border: none;
  padding-top: 8px;
  padding-right: 35px;
  padding-bottom: 8px;
  padding-left: 35px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

/*footer div stylings*/

#bottom {
  background-color: #121212;
}

.logoFooter {
  color: #f9e42e;
  font-weight: 800;
  font-size: 36px;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

#bottomImages {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.twitterLogo {
  height: 30px;
  padding-right: 20px;
}

.facebookLogo {
  height: 30px;
  padding-left: 5px;
}

footer {
  color: white;
  font-weight: 600;
  font-size: 9px;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 18px;
}
